<h2>Products</h2>

<div *ngFor="let p of productList">
  <h3>
    <a [title]="p.name + ' details'">
      {{p.name}}
    </a>
  </h3>

  <p *ngIf="p.description">
    {{p.description}}
  </p>

  <button (click)="share()">
    Share
  </button>

  <app-products-alert [product]="p" (notify)="onNotify"> </app-products-alert>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
